.ride-box{
    background-color: #fff;
    padding: 60px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.ride-box img{
    width: 90px;
    margin-bottom: 20px;
}

h4{
    color: #000;
}
a{
    text-decoration: none !important;
}
.ride-box:hover{
    box-shadow: 10px 10px 31px -9px rgba(116,185,255,1);
}