.home-main{
    background-image: url('../../image/Bg.png');
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100vh;
}
@media (max-width: 500px){
    .riders{
        flex-direction: column;
        text-align: center;
    }
    .riders a{
        margin-bottom: 10px;
    }
    .ride-box{
        padding: 30px;
    }
}
